- content_for :page_title do
  = site_hostname

- content_for :header_tags do
  = javascript_pack_tag 'public', integrity: true, crossorigin: 'anonymous'
  = render partial: 'shared/og'

.content
  .box-widget
    .rich-formatting= @instance_presenter.site_extended_description.html_safe.presence || t('about.extended_description_html')

  %br

  .box-widget
    .rich-formatting
      %h3 Open Source
      %p
        Spinster is free and open source (FOSS) software licensed under the GNU Affero General Public License version 3 (AGPL3).
        It's based on #{link_to 'Gab Social', 'https://code.gab.com/gab/social/gab-social', target: "_blank"}, which is in turn forked from #{link_to 'Mastodon', 'https://github.com/tootsuite/mastodon/', target: "_blank"}.
      %p Source code: #{link_to "https://gitlab.com/spinster-xyz/spinster", "https://gitlab.com/spinster-xyz/spinster", target: "_blank"}
